<main id="main">
<!--==========================
  Cart Item showing section
============================-->
  <section id="speakers-details" class="wow fadeIn">
    <div class="container">
      <div class="section-header">
        <h2>Cart</h2>
        <p>Praesentium ut qui possimus sapiente nulla.</p>
      </div>

      
      <div id="schedule">
        <div class="row schedule-item" *ngFor="let cartItem of cart">
          <div class="col-md-2">
            <div class="speaker">
              <img src="../../assets/img/song/{{cartItem.songImage}}" alt="Hubert Hirthe">
            </div>
          </div>
          <div class="col-md-7">
              
            <h4>{{cartItem.songName}}</h4>
          </div>
          <div class="col-md-1">
            <p>{{cartItem.songPrice*cartItem.count}}</p>
          </div>
          <div class="col-md-2">
            <div class="item_count_div row">
              <i class="fa fa-minus" (click)="minusFromCart(cartItem.songLink,cartItem.songPrice)"></i>
              <input type="number" class="item_count" value="{{cartItem.count}}" readonly>
              <i class="fa fa-plus" (click)="addToCart(cartItem.songLink,cartItem.songName,cartItem.songImage,cartItem.songPrice)"></i>
            </div>
            <div class="cart_remove row">
              <button class="btn btn-danger" (click)="removeFromCart(cartItem.songLink,cartItem.songPrice)">Remove</button>
            </div>
          </div>
        </div>

        <div class="row schedule-item">
          <div class="col-md-7">
            Cart Total :
          </div>
          <div class="col-md-1">
            <p>{{cart_total}}</p>
          </div>
          <div class="col-md-2">
            <div class="cart_remove row">
              <button class="btn btn-info" >Checkout</button>
            </div>
          </div>
        </div>

      </div>


    </div>

  </section>
</main>
      